html,
body {
  height: 100%;
  width: 100%;
}

h3 {
  margin: 0;
}

.container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.wrong-symbol {
  color: red;
}

.next-symbol {
  text-decoration: underline;
}

.good-symbol {
  color: green;
  text-decoration: line-through;
}

.players {
  min-width: 400px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.commentator {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 20%;
}